APP_NAME="Docsie Screen Recorder"
APP_ARTIFACT_BASENAME=docsie-screen-recorder
BUNDLE_ID=io.docsie.screenrecorder

APPLE_ID=
APPLE_TEAM_ID=KQ433V54UU
TEAM_ID=KQ433V54UU
SIGN_IDENTITY="Developer ID Application: Docsie Inc. (KQ433V54UU)"
CSC_NAME="Docsie Inc. (KQ433V54UU)"

NOTARY_PROFILE=Docsie-notary
APPLE_APP_SPECIFIC_PASSWORD=
